<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/resume.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="home">
                <h2 class="nav-links">Home</h2>
            </a>
        </nav>
        <h1>Jesus Cruz Figueroa</h1>
        <ul id="first-list">
            <li>484-951-0222</li>
            <li>Allentown, PA</li>
            <li>jesus189970@gmail.com</li>
            <li><a href="https://www.linkedin.com/in/jesus-cruz-a779721b3/" target="blank">Linkedin</a></li>
        </ul>
    </header>
    <h2>Summary</h2>
    <p>Full stack developer with hands-on experience creating applications in Python, implementing object-oriented
        programming, and building databases. </p>
    <h2>Technical Skills</h2>
    <ul id="second-list">
        <li>Languages: HTML, CSS, Javascript, Python</li>
        <li>Frameworks: Django</li>
        <li>Other Skills: GitHub, validations.</li>
    </ul>
    <h2>Experience</h2>
    <p><strong>Electro-mechanical Assembler, Meyers Emergency Power Systems, Bethlehem pa, January 2020 -
            Present</strong></p>
    <p><strong>Package Handler, FedEx Ground, Northampton pa, Dec 2020 - present.</strong></p>
    <p><strong>Electro-mechanical technician, Applied Separations INC., Allentown pa, Sep 2017 - Dec 2020</strong> <br>
        As an Electro-mechanical technician, various extraction machines using schematics are built. Involving wiring
        and plumbing within the system itself. Varying from different sizes. If there was something wrong with the
        system, troubleshooting would be done. Working here as well, several tasks have to be done to help the company.
        As running a forklift, wrapping pallets, shipping and handling, painting, and carpentry work.</p>

    <p><strong>Apprentice, lutron electronics co inc, 6560 Stonegate dr, Allentown, Feb 2017- Mar 2017</strong> <br>
        Assembly of electrical panels. Little wiring and installing several pre-assembled items.</p>
    <p><strong>Jesus Cruz electric, Allentown, pa — 2015</strong> <br>
        As an electrical apprentice, cleaning, wiring wall outlets, and running wire through the house had to be done.
    </p>
    <h2>Education</h2>
    <p><strong>Lehigh County Technical Institute 2015 - 2017:</strong> <br>Electro-mechanical Technician Certificate;
        Hands on training with
        conduit bending, electrical outlets, and motors.</p>
    <p><strong>Coding Dojo, Online, Aug 2020 - December 2020:</strong> <br> Currently graduated/certified as a full
        stack developer.. lSkilled
        in HTML, CSS, Javascript, Python, Django, Validations, GitHub, and MySQL.</p>
</body>

</html>